/* 
    Document   : styles
    Created on : 22-Jul-2013, 13:13:33
    Author     : ps502001
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
 padding: 0px;
    margin: 0px;
/*    font: 12px arial,tohoma,helvetica;*/
}

.header{
    width:  100%;
    height: 12%;    
    background:  url('../images/header_backgruond.JPG') repeat-x;
/*    position:fixed;*/
/*border: 1px solid red;*/
 
}
.font_12{
		font-size:12px;
		
		}
.hederlogo{
    top: 5px;
    background:  url('../images/header_logo.png');
    height: 75px;
    width: 122px;
/*    border: 1px solid blue;*/
}
.headertop{
    top: 0px;
    margin-left: 125px;
    width: 878px;
    height: 6.8%;    
    position: absolute;
/*    border: 1px solid yellow;*/
}

.headertopleft{
    top: 0px;    
    width: 500px;
    height: 25px;
/*    border: 1px solid #00620C;*/
    
}
.headertopright{
    top: -24px;
    width: 320px;
    height: 35px;
    float: right;
    
position: relative;

/*border: 1px solid #990000 ;*/
}
.headerbottom{
    top: 46px;
    margin-left: 142px;
    width: 878px;
    height: 6.8%;
    
    position: absolute;
    /*border: 1px solid #330033;*/
}
.headerbottomleft{

    position: relative;
    top: 0px;
    width: 679px;
    height: 35px;
/*    border: 1px solid #00620C;*/
    
}
.headerbottomright{
    top: -37px;
    width: 284px;
    height: 35px;
    float: right;    
position: relative;
/*border: 1px solid #990000 ;*/
}
.titlebar{
    margin: 0px;
    padding: 3px;
    width: 100%;
/*    height: 20px;*/
height: 2%;
    background:  url('../images/title_bar.jpg')  repeat-x;
    /*border: 1px solid green;*/    
}
.titlebarleft{
    width: 35%;
/*   max-width: 15%;*/
    margin-top: -2px;
    font-size: 9px;
    color: purple;
/*    border: 1px solid red;*/
}
.titlebarcenter{
    width: 70%;
/*   max-width: 15%;*/
margin-left: 155px;
    margin-top: -21px;
/*    border: 1px solid blue;*/
    position: relative;
}
.titlebarrght{
    width: 14%;
/*   max-width: 15%;*/
    margin-left: 865px;
    margin-top: -21px;    
    position: relative;
/*    border: 1px solid darkred;*/
}
.bodybg{
      
    padding: 0px;
    width: 98%;
/*    height: 415px;*/
    height: 78%;
    background:  url('../images/body_gb.JPG');
    overflow: auto; 
/*overflow-x:hidden;*/
}
.bodybgheader{
    padding: 10px;
    width: 95%;
/*    height: 415px;*/
    height: 20.5%;
    background:  url('../images/body_gb.JPG') ;
    overflow: auto;
    overflow-x:hidden;
    font-size: 12px;
}

.footer{
/*    height: 20px;*/
/*height: 3%;*/
    width: 100%;
    background:  url('../images/footer.jpg')  repeat-x;
    font-size:14px;
    /*color: #800080;*/
    font-weight:bold;  
}

#expandfooter{
                /*height: auto;*/
                width: 100%;
                position: relative;
                padding: 0px;
                margin: 0px;
                background:  url('../images/footer.jpg')  repeat-x;
            }
.footerright{
    top: -100px;
    height: 2.8%;
    float: right;
    width: 14%;
    border: 1px solid red;
    font-size: 10px;
    color: #800080;
/*    position: absolute;*/
}
.elapsedtime{
 font-size: 10px;
    color: #800080;
}
label {
    color: black;
}
.form-control{
    /*border-radius: 54px;*/
    height: 32px;
}
#imp
{
color: red;
}