/* 
    Document   : styles
    Created on : 22-Jul-2013, 13:13:33
    Author     : ps502001
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body{
 padding: 0px;
    margin: 0px;
/*    font: 12px arial,tohoma,helvetica;*/
}

.header{
    width:  100%;
    height: 9%;    
    background:  url('../images/header_backgruond.JPG') repeat-x;
/*    position:fixed;*/
/*border: 1px solid red;*/
 
}
.font_12{
        font-size:12px;
        
        }
.hederlogo{
    top: 5px;
    background:  url('../images/header_logo.png');
    height: 70px;
    width: 122px;
/*    border: 1px solid blue;*/
}
.headertop{
    top: 0px;
    margin-left: 125px;
    width: 878px;
    height: 75px;;    
    position: absolute;
/*    border: 1px solid yellow;*/
}

.headertopleft{
    top: 0px;    
    width: 500px;
    height: 25px;
/*    border: 1px solid #00620C;*/
    
}
.headertopright{
    top: -24px;
    width: 320px;
    height: 35px;
    float: right;    
    position: relative;

/*border: 1px solid #990000 ;*/
}
.headerbottom{
    top: 46px;
    margin-left: 142px;
    width: 878px;
    height: 6.8%;    
    position: absolute;
    /*border: 1px solid #330033;*/
}

.headerbottomleft{
    position: relative;
    top: 0px;
    width: 500px;
    height: 35px;
/*    border: 1px solid #00620C;*/
    
}

.headerbottomright{
    top: -37px;
    width: 284px;
    height: 35px;
    float: right;    
    position: relative;
/*border: 1px solid #990000 ;*/
}
.titlebar{
    margin: 0px;
    padding: 3px;
    width: 100%;
/*    height: 20px;*/
    height: 2%;
    background:  url('../images/title_bar.jpg')  repeat-x;
    /*border: 1px solid green;*/    
}
.titlebarleft{
    width: 35%;
/*   max-width: 15%;*/
    margin-top: -2px;
    font-size: 9px;
    color: purple;
/*    border: 1px solid red;*/
}
.titlebarcenter{
    width: 70%;
/*   max-width: 15%;*/
margin-left: 155px;
    margin-top: -21px;
/*    border: 1px solid blue;*/
    position: relative;
}
.titlebarrght{
    width: 14%;
/*   max-width: 15%;*/
    margin-left: 865px;
    margin-top: -21px;    
    position: relative;
/*    border: 1px solid darkred;*/
}
/*.bodybg{
      
    padding: 0px;
    width: 98%;
    height: 82%;
    background:  url('../images/body_gb.JPG');
    overflow: auto; 
}*/
.bodybg{
      
   padding: 0px;
    height: 78%;
/* background:  url('../images/75_3.jpg') no-repeat center center fixed; */
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    overflow: auto; 
}
.bodybgheader{
    padding: 10px;
    width: 95%;
/*    height: 415px;*/
    height: 20.5%;
    background:  url('../images/body_gb.JPG') ;
    overflow: auto;
    overflow-x:hidden;
    font-size: 12px;
}

.footer{
/*    height: 20px;*/
/*height: 3%;*/
    width: 100%;
    background:  url('../images/footer.jpg')  repeat-x;
    font-size:14px;
    /*color: #800080;*/
    font-weight:bold;  
}

#expandfooter{
                /*height: auto;*/
                width: 100%;
                position: relative;
                padding: 0px;
                margin: 0px;
                background:  url('../images/footer.jpg')  repeat-x;
            }
.footerright{
    top: -100px;
    height: 2.8%;
    float: right;
    /*width: 14%;*/
    border: 1px solid red;
    font-size: 10px;
    color: #800080;
/*    position: absolute;*/
}
.elapsedtime{
 font-size: 10px;
    color: #800080;
}
.loginfields_{
    top: -30px;
    margin-left: 10px;
    width: 50%;
/*    position: fixed;*/
/*     border: 1px solid red;*/
}

.form-submit-save{
    background: none repeat scroll 0 0 #8A2BE2;
    border: 1px solid #EEEEEE;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px #000000;
    color: #FFFFFF;
    height: 25px;
    font-weight: bold;
    text-align: center;
/*    width: 90px;*/
    width: auto;
}

.form-submit{
    background: none repeat scroll 0 0 #016ABC;
    border: 1px solid #EEEEEE;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px #000000;
    color: #FFFFFF;
    height: 25px;
    font-weight: bold;
    text-align: center;
/*    width: 90px;*/
    width: auto;
}

.form-submit-ajax{
    background: -moz-linear-gradient(bottom, #8FBC8F, #fff);
    border: 1px solid #EEEEEE;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px #000000;
    color: black;
    height: 25px;
    font-weight: bold;
    text-align: center;
/*    width: 90px;*/
    width: auto;
}

.form-submit-ajax:hover{
    
}

.form-submit:hover{
    background: #800080;
    color:#fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #000000;
    /*height: 35px;*/
/*    box-shadow: 5px 5px 5px #eee;*/
    /*box-sizing: 20px;*/
    box-sizing: 100em;
}
.form-submit-login{
    background: none repeat scroll 0 0 #016ABC;
    border: 1px solid #EEEEEE;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px #000000;
    color: #FFFFFF;
    height: 20px;
    font-weight: bold;
    text-align: center;
    width: 50px;
}
.form-submit-login:hover{
    background: #800080;
    color:#fff;
    border: 1px solid #eee;
    border-radius: 20px;
/*    box-shadow: 5px 5px 5px #eee;
     color: #0000FF;
     font-weight: bold;*/
    /*box-sizing: 20px;*/
    box-sizing: 100em;
}
input[readonly],textarea[readonly]
{
     background-color: #FAFAD2;
     color: #4B0082;
}
select[disabled]
{
    background-color: #FAFAD2;
    /*color: #0000FF;*/
    color: #4B0082;
}
input[type="text"],input[type='password'],input[type="file"],textarea,select
{
     width:150px;
     border:1px solid;
     border-color: #C0C0C0;
     /*background: #fff;*/
     padding: 4px 4px;
     /*font: 12px arial,tohoma,helvetica;*/
     font: 12px arial;
     -moz-box-shadow: 0 0 5px #c0c0c0;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -webkit-box-shadow: 0 0 5px #c0c0c0;
     box-shadow: 0 0 5px #c0c0c0;
     border-radius: 10px;
     
 } 
 
 legend{
    font-size:14px;
    color:#800080;
    font-weight:bold;    
/*padding-bottom: 15px;*/
}

label{
    /*font-weight: bold;*/
}

#pad{
    height:20px;
}

.specialFont{
    color: blue;
    font-weight: bold;
}

.error{
    background: -moz-linear-gradient(center bottom , #DB7093, #FFEFD5) repeat scroll 0 0 transparent;
    border-radius: 20px 20px 20px 20px;
    color: red;
    font-size: 12px;
    font-style: italic;
    height: 30px;
    left: 246px;
    position: absolute;
    top: 78px;
    width: 500px;
    display: none;
}

.confirmation{
    height: 10px;
    width: 90%;
/*    border: 1px solid red;*/
    font-size: 15px;
    padding-left: 350px;
    color:blueviolet;
    font-weight: bold;
}

.datefield
{
    width:150px;
}

 #form-validate{
    background: -moz-linear-gradient(center bottom , #DB7093, #FFEFD5) repeat scroll 0 0 transparent;
    border-radius: 20px 20px 20px 20px;
    color: red;
    font-size: 12px;
    font-style: italic;
    height: 30px;
    left: 246px;
    position: absolute;
    top: 78px;
    width: 500px;
    display: none;
    padding-left: 10px;
    text-align: center;
}

.cursor_pointer{
    cursor: pointer;
}

.maditoryfileds{
    color: red;
}

/***********  table ***********/

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*font-size: 14px;*/
    font: 11px arial;
    -webkit-box-shadow: 0 5px 5px #ccc; 
    -moz-box-shadow: 0 5px 5px #ccc; 
    box-shadow: 0 10px 10px 5px #ccc;   
    width: 45%;
    float: left;
    /*margin-left: 15px;*/
    margin-top: 20px;
    empty-cells: show;    
}

.bordered tr:hover {
    background: #DCDCDC;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4px;
    text-align: left;    
}
.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.tablefont{
    font-family:"Times New Roman", Times, serif;

    font-size:14px;}

/* popup styles*/

/*a { 
    text-decoration:none; 
    color:#00c6ff;
}*/

h1 {
    font: 4em normal Arial, Helvetica, sans-serif;
    padding: 20px;  margin: 0;
    text-align:center;
}

h1 small{
    font: 0.2em normal  Arial, Helvetica, sans-serif;
    text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
    display: block;
}

h2 {
    color:#bbb;
    font-size:3em;
    text-align:center;
    text-shadow:0 1px 3px #161616;
}

.container {width: 960px; margin: 0 auto; overflow: hidden;}

#content {  float: left; width: 100%;}

.post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }

.btn-sign {
    width:460px;
    margin-bottom:20px;
    margin:0 auto;
    padding:20px;
    border-radius:5px;
    background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
    background:  -o-linear-gradient(top, #00c6ff, #018eb6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
    text-align:center;
    font-size:36px;
    color:#fff;
    text-transform:uppercase;
}

.btn-sign a { color:#fff; text-shadow:0 1px 2px #161616; }

#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    display:none;
    background: #333;
    padding: 10px;  
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}

/*fieldset { 
    border:none; 
}*/

form.signin .textbox label { 
    display:block; 
    padding-bottom:7px; 
}

form.signin .textbox span { 
    display:block;
}

form.signin p, form.signin span { 
    color:#999; 
    font-size:15px; 
    line-height:18px;
} 

form.signin .textbox input { 
    background:#666666; 
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff; 
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000; 
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px; 
    width:214px;
}

.cloudsymbol{
    background-color: #8FBC8F; padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 50px;
    font-weight: bold;
}

.button:hover { background:#ddd; }

.star{
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
}
.star:before{
    content:"\2605";
    position: absolute;
    visibility: visible;
}
.star:checked:before{
    content:"\2606";
    position: absolute;
}
.fontcolor_div{
                    /*background-color: #FAFAD2;*/
                    /*color: #00008B;*/
                    word-wrap:break-word;
                    font-family: arial;
                    line-height:150%; 
                    width:180px;
                    height: 35px;
                    text-align: justify;
                    opacity:1;
                    overflow: visible;
                    word-wrap: break-word;
                    margin: 2px;
/*                    overflow: hidden;*/
                    overflow-y: scroll;
                    font-size: 11px;
                    height: calc;
                    
                    /*_height:expression(document.body.offsetHeight+"px");*/
                    
                    /*min-height: 10px;*/
                   
                    /*height: calc;*/
            }
/*desining standards*/
/*.dates{
    width: 120px!important;
    border-radius:5px!important; 
}*/
/*edp tracker styles*/
/*.cell-border{
    background: #e6f0fb!important; width:100%;font-size: 12px;font-family:arial; word-wrap: break-word;border-collapse: collapse;
}*/
.cell-border>thead{
    color: #800000;
}
/*fracas claculations*/
/*.spa>td>b,ul>li,.spa>td>label{
        color:#00008B;
    }*/
    /*fracas claculations*/
/*span>h4{
    color: #800080;
}
.tabfieldsfw{
    font-size: 12px!important;font-family: arial!important;width: 100%!important;
}
.tabfieldsnw{
 font-size: 12px!important;font-family: arial!important;
}
.insty{
    width:120px!important;
}
.insty:focus {
        border:1px solid #016ABC
!important;
        box-shadow: 2px 2px 2px #808aef!important; 
    }
#rating{
  width:150px!important;  
}
*/
/*desc styles*/
.desst{
display:none;position:absolute;z-index:100;background:white;color:black;width:500px;max-height:180px;min-height:auto!important;padding:10px;font-size: :14px!important;font-family: arial;border-radius:10px; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);text-align: justify;
}
/*#tag_ass,#status,#req{
  font-size: 12px;
}*/
#tbcolor{
  background:#eaf8eb!important;
   height: 10px!important;
}
/*desc styles end*/
/*table filtering with checkbox*/
.cb-dropdown-wrap {
  max-height: 80px;
  position: relative;
  height: 19px;
 
}

.cb-dropdown,
.cb-dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.2s 0.23s height ease-in-out;
}

.cb-dropdown {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  border: 1px solid #800000;
  border-radius: 5px;
}

.active .cb-dropdown {
  background: transparent;
}
.cb-dropdown-wrap:hover .cb-dropdown {
  /* Expand container */
   width: 180px;
  height: 200px;
  overflow: auto;
  transition: 0.15s 0.18s height linear;
  background: #eaf8eb;
}

.cb-dropdown li.active {
  background: white;
}

.cb-dropdown li label {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: #dedede;
}

.cb-dropdown li:last-child {
  padding-bottom: 12px;
}

.cb-dropdown li label>input {
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
}

.cb-dropdown li label>span {
  display: block;
  margin-left: 25px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.cb-dropdown li:nth-child(n+2):hover {
  background: #dedede;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: 100% 10px;
}

div.dataTables_scrollHead {
  overflow: visible !important;
}
 /*edp requestlist styles*/
 .tabdivhist{
            border-radius:15px;display:none;overflow-y:scroll;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
            min-height:auto;z-index:1000;
            max-height:150px;

        }
        .tabhist{
            width:100%;font-size:14px;border-collapse:collapse;
             border: 1px solid orange;
             font-family: arial;
             border-radius:10px;
            border: 1px solid orange;

        }
        .tabhehist{
            background-color:#B0C4DE;
             border: 1px solid orange;
        }
        .tabbohist{
            background-color:#ADD8E6;
             border: 1px solid orange;
        }
        /*edp requestlist styles*/
.dwgadd_new{
    background-color:#016ABC;
    font-size: 15px;
    padding: 7px;
    width: 100px;
    border-radius: 8px;
    color: white;
   
}

/*for tour bill start*/

.bill_head{
background-color: #a7bf6a;
height: 40px;
}

.bill_body{
/*background-color: #dff129a3;*/
}
/*table,tr,td,th{
border: 1px solid #ccc;

}*/
.td_cls{
    /*text-align: center;*/
}
.devtn_cls{
    padding-left: 40px;

}
.deviatn_div{
    background-color: #a7bf6a;
    height: 30px;
}
.spn_cls{
  margin-left: 20px;
}
.amt_styl{
    text-align: right;
}
.apprvwidt{
    width:70px ! important;
}
.jrnymode_style{
    color: red;
}
.inner_tbl{
  color: #3123b4;
}
.inner_th{
  color: #1d6a9b;
}
.hstryspn{
  cursor:pointer;
  float: right;
}
.columnsad{
    position: relative;
    bottom:6px;
}


/*for tour bill end*/

 /*table filtering with checkbox end*/

/*edp tracker styles end*/

/*pop up styles end*/
/* edp history table styles*/
/*.tabdivhist{
    border-radius:15px;display:none;overflow-y:scroll;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    height:100px;z-index:1000;
    background-color:white;

}
.tabhist{
    width:100%;font-size:14px;border-collapse:collapse;
     border: 1px solid orange;
     font-family: arial;
     border-radius:10px;
    border: 1px solid orange;

}
.tabhehist{
    background-color:#B0C4DE;
     border: 1px solid orange;
}
.tabbohist{
    background-color:#ADD8E6;
     border: 1px solid orange;
}*/
/*.tabbohist:hover{
    background-color:#e0ffff;
     border: 1px solid orange;
}*/
/* edp history table styles end*/