.inputTable{
    width:100%;
    empty-cells: show;
    /*font: 12px arial,tohoma,helvetica;*/
}

.inputTable td {
    width:25%;
    padding: 3px;
}

 .reportsTable td{
    
                    padding-left: 15px;
                    table-layout: inherit;
                    border: 1px   solid #000;
                    width: 12%;
                    vertical-align: text-top;

}